468Insider/468Insider.Domain/obj/
468Insider/.vs/
468Insider/468Insider.Core/obj/
468Insider/468Insider.Core/bin/
468Insider/468Insider.Infrastructure/obj/
468Insider/468Insider.Infrastructure/bin/
468Insider/468Insider.Domain/bin/
468Insider/468Insider.API/obj/
468Insider/468Insider.API/bin/
468Insider/468Insider.API/468Insider.API.csproj.user
468Insider/468Insider.Common/obj/
